@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap");

h1,h2,h3,h4,h5,h6{
  text-align: center;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #111;
  color: #eee;

  margin: 0;
}

a{
  color: #eee;
  text-decoration: none;
}

.flex-container{
  display: flex;
}

.flex-container>h1,h2,h3,h4,h5,h6{
  flex: 1;
}

.vertical.flex-container{
  flex-direction: column;
}

.horizontal.flex-container{
  flex-direction: row;
}

.flex-container.middle-aligned{
  align-items: center;
}

.flex-container.flex-end-justified{
  justify-content: flex-end;
}

.flex-container.center-justified{
  justify-content: center;
}

.flex{
  flex: 1;
}

.flex-3 {
  flex: 3;
}

.input-button-pair>input{
  border: transparent;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;

  max-width: 75%;
  width: 500px;
}

.input-button-pair>button{
  border: transparent;
  border-radius: 0px 5px 5px 0px;
  padding: 10px;

  background-color: rgb(81, 167, 131);
}

.divider{
  height: 2px;
  width: 100%;

  background-color: #eee;
}

.image-frame{
  height: 100px;
  width: 100px;

  position: relative;
}

.image-frame>img{
  margin: auto;

  position: absolute;
  
  top: 0;
  bottom: 0;

  right: 0;
  left: 0;

  width: auto;
  height: auto;

  max-width: 100%;
  max-height: 100%;
}

.playlist-title{
  flex: 1;
  padding: 10px;
}

.playlist-title>*{
  padding: 5px;
}

.filter{
  padding: 10px;
  border-radius: 5px;

  border: transparent;
}

.playlist{
  margin: 10px;
  padding: 10px;
  border-bottom: 3px solid rgb(81, 167, 131);
  background-color: #222;

  width: 400px;
}